apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx-deployment 
spec:
  replicas: 3
  selector:
  matchLabels:
    app: my-nnginx
  template:
    metadata:
    labels:
    app: nginx-app
  spec:
    containers:
    - name: nginx
    image: nginx:latest
    ports:
    -containerPort: 80
    
    
